.load-more{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    padding: 10px;
    background-color: rgb(83, 83, 158);
    border: none;
    border-radius: 5px;
    color: white;
}

.disabled{
    display: none;
}